.project
.settings
*.pyproj
*.pyproj.user
*.log
# Ignore .user and .suo files as these are user preference specific
# http://stackoverflow.com/questions/72298/should-i-add-the-visual-studio-suo-and-user-files-to-source-control
*.suo
*.user
*.sync/
applications/ospuller/data/*.js
*.VisualState.xml
*.pyc
*.sln
.vs
.vscode/